/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
    -fx-font-size: 13pt;
    -fx-font-family: "Calibri";
    -fx-base: rgb(138, 183, 219);
    -fx-background: rgb(111, 171, 191);
}